site_name: mkdocs-mdpo-plugin
site_url: https://mkdocs-mdpo.ga
site_description: Mkdocs plugin for translations using PO files
site_author: Álvaro Mondéjar Rubio

docs_dir: docs/src
repo_url: https://github.com/mondeja/mkdocs-mdpo-plugin
repo_name: mkdocs-mdpo-plugin
edit_uri: tree/master/docs/src

extra_javascript:
  - assets/javascripts/extensions-support.js
extra_css:
  - assets/stylesheets/theme-overrides.css
  - assets/stylesheets/pymdownx.progressbar.css

theme:
  name: material
  custom_dir: docs/theme-overrides
  language: en
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

nav:
  - Home: index.md
  - Configuration: config.md
  - Extensions support:
      - Official extensions: extensions-support/official.md
      - PyMdown extensions: extensions-support/pymdownx.md
  - Tested plugins:
      - Navigation and page building: tested-plugins/navigation-and-page-building.md
      - API documentation building: tested-plugins/api-documentation-building.md
  - Useful recipes: useful-recipes.md

markdown_extensions:
  - toc:
      permalink: true
  - abbr
  - admonition
  - attr_list
  - def_list
  - fenced_code
  - footnotes
  - tables
  - legacy_attrs
  - wikilinks
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde

plugins:
  - search
  - include-markdown
  - exclude:
      glob:
        - file-to-be-inserted.txt
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: false
            show_root_toc_entry: false
  - material-relative-language-selector:
      root_domain: true
  - mdpo:
      locale_dir: ../locale
      cross_language_search: false
      min_translated_messages: 95%
      translate:
        - site_description
  - minify:
      minify_html: true

extra:
  alternate:
    - name: English
      lang: en
    - name: Español
      link: es
      lang: es
