:root {
  --md-primary-fg-color: #f70019;
  --md-accent-fg-color: #f70019;
}

article a {
  color: #bc0013 !important;
}

article a.headerlink,
article .md-icon:not(.md-clipboard) {
  color: #f70019 !important;
}

article md-icon

.md-source:hover {
  opacity: 1;
}
